{% load static %}
{% load i18n %}
      <!-- конец сайта  -->
      <footer>
          <div class="container">
            <div class="d-flex justify-content-between numbers">
                <p class="btn text-white font-weight-bold text-uppercase">8 (812) 123-45-67 | {% trans 'Работаем 7 дней в неделю' %} | 9:00 — 18:00</p>
                <div class="d-flex images">
                    <img src="{% static 'images/Instagram.svg' %}" style="width: 14px; height: 14px;" alt="">
                    <img src="{% static 'images/Youtube.svg' %}" style="width: 14px; height: 14px;" alt="">
                </div>
            </div>
          </div>
      </footer>