{% load static %}
{% load tags %}
{% load i18n %}
<nav class="bg-light">
            <div class="container">
                <div class="navbar navbar-expand-md ">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li>
                            <div class="nav-item">
                              <h1>Jocar auto</h1>
                            </div>
                          </li>
                          <li class="nav-item active mt-2">
                            <a class="nav-link" href="{% url 'home:index' %}">{% trans 'Home' %}</a>
                          </li>
                          <li class="nav-item mt-2">
                            <a class="nav-link" href="{% url 'models:product' %}">{% trans 'Models' %}</a>
                          </li>
                          <li class="nav-item mt-2">
                            <a class="nav-link" href="#contact">{% trans 'Contact' %}</a>
                          </li>
                        </ul>
                    </div>

                    <a href="{% url 'products:wishlist' %}"><img src="{% static './images/like.svg' %}" style="position:absolute;left:85%;top:35%" alt=""></a>


                </div>
            </div>
        </nav>
        <!-- header -->