{% load tags %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
.nav-link{
    font-weight: bold;
    font-family: "Source Sans Pro";
    color: #000;
    text-transform: uppercase;
}
.card {
    border: 1px solid rgb(125, 122, 222);
}
.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
.parallax {
    background-image: url(/static/images/zxcv.jpeg);

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        }
        p {
            margin-bottom: 7px;
        }

        .btn:focus {
            box-shadow: none;
        }
        .btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 180px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.btn-14 {
  background: #00fff7;
  border: none;
  z-index: 1;
  width: 160px;
  height: 40px;
  color: #fff;
}
.btn-14:after {
    margin-bottom: 15px;
  position: absolute;
  content: "";
  width: 160px;
  height: 0;
  top: 15px;
  right: 16px;
  z-index: -1;

  background-color: #00bfff;
  transition: all 0.3s ease;
  background-image: linear-gradient(315deg, #00bfff 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);


}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 40.5px;
}
.btn-14:active {
  top: 2px;
}


/* QUESTION STYLES */
.question {
  padding: 0 0 10px;
  font-size: 0;
  position: relative;
  display: block;
}

/* LABEL STYLES */
label {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 180px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  color: #666;
  line-height: 50px;
}

/* INPUT STYLES */
input {
  border: 2px solid #BBB;
  padding: 0 20px;
  color: #666;
  display: inline-block;
  width: calc(100% - 180px);
  max-width: 100%;
  height: 50px;
  font-size: 17px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

fieldset.question {
  border: 0;
  padding: 0 0 10px;
  font-size: 0;
  position: relative;
  display: block;
  max-width: 100%;
}
fieldset.question legend {
  font-size: 17px;
  margin-bottom: 10px;
  width: 180px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  color: #666;
  line-height: 50px;
  letter-spacing: -0.04em;
  position: absolute;
  top: 0;
  left: -180px;
}
fieldset.question label {
  display: inline-block;
  width: calc(33.33% - (20px / 3));
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 9px 5px;
  line-height: 1.4;
  background: rgb(156, 209, 255);
  text-align: center;
  font-size: 15px;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
}
fieldset.question label:nth-of-type(3n) {
  margin-right: 0;
}
fieldset.question label.single-line {
  padding: 0 5px;
  line-height: 50px;
}
fieldset.question.error label {
  background: #AE3535;
}
fieldset.question input:hover + label {
  background: #00ffd0;
  color: #fff;
}
fieldset.question input:focus + label,
fieldset.question input:checked + label {
  background: red;
  color: #fff;
}
fieldset.question input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

</style>

        <div class="card" style="width: 20rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.model }}</h5>
                <p class="card-text">
                    {% trans 'Характеристики' %}:
                    <p> {% trans 'Объем' %} – {{ product.obyom}}</p>
                      <p>{% trans 'Мощность' %} - {{ product.moshnost}}</p>
                      <p>{% trans 'Коробка' %} - {{ product.korobka}}</p>
                      <p>{% trans 'Тип двигателя' %} - {{ product.dvigatel}}</p>
                      <p>{% trans 'Топливо' %} - {{ product.toplivo}}</p>
                      <p>{% trans 'Привод' %} - {{ product.privod}}</p>
                      <p>{% trans 'Разгон' %} - {{ product.razgon}}</p>
                      <p>{% trans 'Расход' %} – {{ product.rasxod}}</p>
                      <p>{% trans 'Макс.скорость' %}, км/ч – {{ product.max_skorost}}</p>
                </p>
                          <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                            {% if product|in_wishlist:request %}
                            <button class="btn btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"
                                                                         alt=""></button>
                            {% else %}
                            <button class="btn btn-like2" type="submit"><img src="{% static './images/like.svg' %}" alt="">
                            </button>
                            {% endif %}
                        </a>
                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-12" style="margin: 30px 0 20px 20px; font-weight: bold; font-size: 15px; color: #fff; "><span>{% trans 'Оставить заявку' %}</span><span>{% trans 'Оставить заявку' %}</span></button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Оставить заявку' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form id="formID">
                                    <div class="form-group">
                                        <label for="fname">{% trans 'Имя' %}</label>
                                        <input type="text" class="fname form-control" id="fname" name="fname" placeholder="Ваша имя" required>
                                      </div>
                                    <div class="form-group">
                                      <label for="lname">Email</label>
                                      <input type="email" class="lname form-control" id="lname" name="lname" aria-describedby="emailHelp" placeholder="Введите ваш email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="number">{% trans 'Номер' %}</label>
                                        <input type="number" class="number form-control" id="number" aria-describedby="emailHelp" placeholder="Введите ваш номер" required>
                                      </div>
                              <div class="form-group">
                                    <fieldset class="question" id="title" data-validation="vrule_btn_required">
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW M3" id="HTML"><label for="HTML" class="single-line">BMW M3</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW X6" id="CSS"><label for="CSS" class="single-line">BMW X6</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW X5M" id="JavaScript"><label for="JavaScript" class="single-line">BMW X5M</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes AMG E63s" id="Mercedes AMG E63s"><label for="Mercedes AMG E63s" class="single-line">Mercedes AMG E63s</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes GTs" id="Mercedes GTs"><label for="Mercedes GTs" class="single-line">Mercedes GTs</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes G63" id="Mercedes G63"><label for="Mercedes G63" class="single-line">Mercedes G63</label>
                                        <span class="error-message"></span>
                                    </fieldset>
                                </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                  </form>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
<br>
<script>
<!-- добавления в избранное   -->
    function add_to_wishlist(element, pk) {
        $.getJSON('/models/'+ "wishlist/"  + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    $('#message');
                    element.innerHTML = '<button class="btn btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"alt=""></button>'
                } else {
                    $('#message');
                     element.innerHTML = '<button class="btn btn-like2" type="submit"><img src="{% static './images/like.svg' %}"alt=""></button>'
                }

            }
        });
    }

</script>
{% endblock %}