{% load tags %}
{% load static %}
{% load i18n %}
{% block content %}
        <div class="card" style="width: 22rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.model }}</h5>
                <p class="card-text">
                    {% trans 'Характеристики' %}:
                    <p> {% trans 'Объем' %} – {{ product.obyom}}</p>
                      <p>{% trans 'Мощность' %} - {{ product.moshnost}}</p>
                      <p>{% trans 'Коробка' %} - {{ product.korobka}}</p>
                      <p>{% trans 'Тип двигателя' %} - {{ product.dvigatel}}</p>
                      <p>{% trans 'Топливо' %} - {{ product.toplivo}}</p>
                      <p>{% trans 'Привод' %} - {{ product.privod}}</p>
                      <p>{% trans 'Разгон' %} - {{ product.razgon}}</p>
                      <p>{% trans 'Расход' %} – {{ product.rasxod}}</p>
                      <p>{% trans 'Макс.скорость' %}, км/ч – {{ product.max_skorost}}</p>
                </p>
                          <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                            {% if product|in_wishlist:request %}
                            <button class="btn btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"
                                                                         alt=""></button>
                            {% else %}
                            <button class="btn btn-like2" type="submit"><img src="{% static './images/like.svg' %}" alt="">
                            </button>
                            {% endif %}
                        </a>
                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-12" style="margin: 30px 0 20px 20px; font-weight: bold; font-size: 15px; color: #fff; "><span>{% trans 'Оставить заявку' %}</span><span>{% trans 'Оставить заявку' %}</span></button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Оставить заявку' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form id="formID">
                                    <div class="form-group">
                                        <label for="fname">{% trans 'Имя' %}</label>
                                        <input type="text" class="fname form-control" id="fname" name="fname" placeholder="Ваша имя" required>
                                      </div>
                                    <div class="form-group">
                                      <label for="lname">Email</label>
                                      <input type="email" class="lname form-control" id="lname" name="lname" aria-describedby="emailHelp" placeholder="Введите ваш email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="number">{% trans 'Номер' %}</label>
                                        <input type="number" class="number form-control" id="number" aria-describedby="emailHelp" placeholder="Введите ваш номер" required>
                                      </div>
                              <div class="form-group">
                                    <fieldset class="question" id="title" data-validation="vrule_btn_required">
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW M3" id="HTML"><label for="HTML" class="single-line">BMW M3</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW X6" id="CSS"><label for="CSS" class="single-line">BMW X6</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="BMW X5M" id="JavaScript"><label for="JavaScript" class="single-line">BMW X5M</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes AMG E63s" id="Mercedes AMG E63s" style="font-size: 13px"><label for="Mercedes AMG E63s" class="single-line" style="font-size: 13px">Mercedes AMG E63s</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes GTs" id="Mercedes GTs"><label for="Mercedes GTs" class="single-line">Mercedes GTs</label>
                                        <input type="radio" class="radio_button" name="fav_language" value="Mercedes G63" id="Mercedes G63"><label for="Mercedes G63" class="single-line">Mercedes G63</label>
                                        <span class="error-message"></span>
                                    </fieldset>
                                </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                  </form>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
<br>

{% endblock %}